#myCarosel {
    background-color: #FFA6A6;
    position: relative;
    width: 100%;
}

#myCarosel .carousel-caption {
    text-align: left;
    position: absolute;
	left: 50%;
    top: 50%;
    transform: translateY(-70%);
}

#myCarosel .carousel-caption h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 20px rgb(131, 127, 127);
    font-family: arial;
}

#myCarosel .carousel-caption h5 {
    font-size: 1.5rem;
    color: #fff;
    font-family: arial;
}
#myCarosel .carousel-caption h2 {
    font-size: 1.5rem;
    color: #fff;
    font-family: arial;
}

#myCarosel .carousel-caption .myButton {
    padding: 11px 16px;
    margin-top: 100px;
    margin-left: -180px;
    border: 2px solid #fff;
    background: unset;
    border-radius: 5px;
    color: #fff;
	font-size: 18px;
    text-shadow: 0 0 10px rgb(131 127 127);
    font-family: arial;
}

#myCarosel .carousel-caption .myButton:hover {
    background-color: #ccc;
    color: #000;
    text-shadow: 0 0 10px rgb(131, 127, 127);
}

/* Feature */
img.banner {
    width: 100%;
	height: 50%;
	padding-top: 100px;
    padding-bottom: 50px;
}

.section-title {
	margin-bottom: 50px;
	text-align: center;
}
.section-title i {
	color: #fa9f25;
}

.section-title h2 {
	color: #1c1c1c;
	font-weight: 700;
	position: relative;
}
.col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 30px;
}
.section-title h2:after {
	position: absolute;
	left: 0;
	bottom: -15px;
	right: 0;
	height: 4px;
	width: 80px;
	background: #fa6a6a;
	content: "";
	margin: 0 auto;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}
.featured {
	padding-top: 80px;
	padding-bottom: 40px;
}

.featured__controls {
	text-align: center;
	margin-bottom: 50px;
}

.featured__controls ul li {
	list-style: none;
	font-size: 18px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 25px;
	position: relative;
	cursor: pointer;
}

.featured__controls ul li.active:after {
	opacity: 1;
}

.featured__controls ul li:after {
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #fa6a6a;
	content: "";
	opacity: 0;
}

.featured__controls ul li:last-child {
	margin-right: 0;
}
.featured__item {
	margin-bottom: 50px;
}

.featured__item:hover .featured__item__pic .featured__item__pic__hover {
	bottom: 20px;
}

.featured__item__pic {
	height: 270px;
	position: relative;
	overflow: hidden;
	background-position: center center;
}

.featured__item__pic__hover {
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	text-align: center;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.featured__item__pic__hover li {
	list-style: none;
	display: inline-block;
	margin-right: 6px;
}

.featured__item__pic__hover li:last-child {
	margin-right: 0;
}

.featured__item__pic__hover li:hover a {
	background: #fa6a6a;
	border-color: #fa6a6a;
}

.featured__item__pic__hover li:hover a i {
	color: #ffffff;
	transform: rotate(360deg);
}

.featured__item__pic__hover li a {
	font-size: 16px;
	color: #1c1c1c;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ebebeb;
	background: #ffffff;
	display: block;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.featured__item__pic__hover li a i {
	position: relative;
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.featured__item__text {
	text-align: center;
	padding-top: 15px;
}

.featured__item__text h6 {
	margin-bottom: 10px;
}

.featured__item__text h6 a {
	color: #252525;
}

.featured__item__text h5 {
	color: #252525;
	font-weight: 700;
}

/* End of feature */

