.login-popup-wrap {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    height: 100%;
    width: 100%;
    z-index: 99;
    padding: 100px 0;
}
.login-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.login-close {
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 30px;
	color: #f04336;
	cursor: pointer;
}
.btn-danger{
    background-color: #f04336;
}
.box{
    background-color: #f04336;
}