.footer {
    margin-top: 100px;
    box-sizing: border-box;
    background-color: #ece7db;
}

.section_service {
    padding: 0 0;
    overflow: hidden;
    
}

.service_item {
    padding: 30px 0 40px 0;
    display: flex;
    align-items: center;
}

.content_srv {
    width: calc(100% - 65px);
    display: inline-block;
    margin-left: 15px;
}

.title_service {
    font-size: 15px;
    font-weight: bold;
    color: #363636;
}

.content_service {
    font-size: 14px;
    font-weight: 400;
    color: #707070;
}

/*  */

.footer .mid-footer {
    background-color: #f5f5f5;
    padding-bottom: 30px;
}

.footer .title-menu {
    margin: 0; 
    line-height: normal;
    letter-spacing: 0.5px;
    margin-top: 40px;
    margin-bottom: 30px;
    cursor: default;
    font-size: 16px;
    font-weight: bold;
    color: #363636;
}

.footer .payment img {
    width: 100%;
}

.footer .widget-ft {
    margin-bottom: 20px;
}

.footer .list-menu .list-menu-item-hotline {
    display: flex;
}

.footer .contact  {
    margin: auto 10px;
}

.footer .contact .phone-number{
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 18px;
    display: block;
    margin-left: 15px;
    text-decoration: none;
    color: #bb3107;
}

.footer .contact .phone-number:hover {
    color: #000;
}

.footer .contact .hour {
    font-family: 'Roboto',sans-serif;
    display: block;
    margin-left: 15px;
    font-size: 12px;
    color: #707070;
    line-height: normal;
}

.footer .list-socials {
    display: flex;
}

.footer .list-item a {
    margin-right: 10px;
    border-radius: 50%;
    color: #fff;
}

.footer .list-item .facebook {
    padding: 6px 12px;
    background-color: #3b5998;
}

.footer .list-item .google-plus {
    padding: 6px 7px;
    background-color: #dc4e41;
}

.footer .list-item .twitter {
    padding: 6px 9px;
    background-color: #55acee;
}

.footer .list-item .insta {
    padding: 6px 11px;
    background-color: #9d2fac;
}

.footer .collapse {
    margin-bottom: 20px;
}

.footer .item-title {
    font-size: 14px;
    font-weight: bold;
    color: #707070;
    margin: 10px 0 5px;
}

.footer .item-child {
    color: #707070;
    font-size: 14px;
}

.footer .item::after {
    display: block;
    content: "";
    border-bottom: 2px dashed #000;
    margin-top: 30px;
}

.footer .item-connect {
    margin: 20px 0 5px;
}

/*  */

.footer .copyright {
    line-height: 40px;
    text-align: center;
    font-size: 1em;
    position: relative;
    padding: 4px 0px;
    background: #242229;
}

.footer .copyright .text {
    color: #acacac;
    font-size: 14px;
}